h1 {
    background-color: blueviolet;
    color:aliceblue;
    padding: 30px;
}

button.direction-btn {
    min-width: 75px;
    min-height: 75px;
    border-radius: 50%;
}

#main {
    text-align: center;
}

#main svg {
    background-color: aqua;
}

.right {
    border-right-color: brown;
    border-right-width: 20px;
    border-right-style: solid;
}